@font-face{
  font-family: "Avenir Black";
  src: url(../webfonts/avenir-black.woff) format("truetype");
}

@font-face{
font-family: "Avenir roman";
src: url(../webfonts/Avenir-Roman.woff) format("truetype");
}

@font-face{
  font-family: "Avenir Medium";
  src: url(../webfonts/Avenir-Medium.woff) format("truetype");
}

@font-face{
  font-family: "Avenir BC";
  src: url(../webfonts/Avenir-Medium.woff) format("truetype");
}